.card {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--purple-navy);
  color: var(--blue-bell);
  box-shadow:
    0.4px 0.4px 0.7px rgba(98, 96, 101, 0.007),
    1.1px 1.1px 1.9px rgba(98, 96, 101, 0.01),
    2.7px 2.7px 4.5px rgba(98, 96, 101, 0.013),
    8px 8px 16px rgba(98, 96, 101, 0.02)
  ;

}

.card__media,
.card__media_placeholder {
  margin-right: 0.75rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
}

.card__content {
  flex: 1 1 0;
  min-width: 100px;
}

.card__content__title {
  margin: 0;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  align-items: center;
}

.card__content p,
.card__content__description {
  font-size: 80%;
  margin: 0.25rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__actions {
  display: flex;
  margin-left: 0.75rem;
  justify-self: end;
}

.card__actions button + button {
  margin-left: 0.5rem;
}