.navLink {
color: white;
opacity: 0.4;
  display: inline-flex;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
}

.navLink.active {
  opacity: 1;
}

.nav {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
}