b {
    color: #ccc;
}

.dotaScoreBoard {
    display: grid;
    grid-template-columns: 70px 190px 380px 70px;
    grid-row-gap: 5px;
}
.heroPortrait {
    max-width: 60px;
    height: 40px;
}
.heroInfo {
    display: flex;
    flex-direction: column;
}
.neutralItem {
    height: 40px;
}
.inventory {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 5px;
}
