@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu/Ubuntu-Medium.ttf");
}

/* https://coolors.co/a5d7f5-82afdc-827dbe-874b96-302f4d */
:root {
  --uranian-blue: #a5d7f5ff;
  --iceberg: #82afdcff;
  --middle-blue-purple: #827dbeff;
  --plum: #874b96ff;
  --pansy-purple: #871e5f;
  --pale-purple: #efe4f1;
  --blue-bell: #9b9bbf;
  --space-cadet: #302f4dff;
  --purple-navy-light: #50507c;
  --purple-navy: #363659;
  --ultra-violet: #6967A2;
  --ultra-violet-dark: #5F5D98;
  --main-gradient: linear-gradient(
    150deg,
    var(--uranian-blue) 0%,
    var(--iceberg) 20%,
    var(--middle-blue-purple) 50%,
    var(--plum) 75%,
    var(--pansy-purple) 100%
  );
}

ul {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 14px;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--space-cadet);
  font-family: "Ubuntu", arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Ubuntu", arial, sans-serif;
}

* {
  box-sizing: border-box;
}

#app {
  max-width: 48em;
  height: 100%;
  background-color: var(--space-cadet);
  color: #fff;
  width: 100%;
    margin: 0 auto;
}

#app {
  display: grid;
    grid-template-rows: 52px 1fr min-content;
}
